[toolchain]
package_manager = "yarn"
anchor_version = "0.30.1"


[features]
resolution = true
skip-lint = false

[programs.localnet]
eventum = "C2DH4MJnMgsLW9whA3bwqkApsLRu4yzvujX27e56L6qV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
